<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style type="text/css">
#mws-container{
width: 100%;
margin:10% auto;
min-height: 100%;
}
#mws-container .container {
    width:92%;
    float: left;
    margin: 0 4%;
}
#mws-error-container {
    width: 640px;
    margin: auto;
    height:200px;
    background: url(./static/image/mws-error-bg.png) no-repeat center top;
}
#mws-error-code {
    color: #f0f0f0;
    font-size: 40px;
    text-align: center;
    padding-top:50px;
}
</style>
</head>
<body>
<div id="mws-container">
            <div class="container">
            	<div id="mws-error-container">
                	<h1 id="mws-error-code">Error <span>404</span></h1>
                </div>
            </div>            
</div>
</body>
</html>