<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
 <mapper namespace="ECS_Logistics.dao.logisticsDistributionMapper">
<!-- <resultMap type="" id=""></resultMap>
<sql id="logisticsDistributionInfo">
select logistics_distribution_info.create_time,logistics_distribution_info.physical_status,
logistics_distribution_info.logistics_physical_distribution_info
from logistics_order,logistics_distribution_info
where logistics_order.logistics_order_id=logistics_distribution_info.logistics_order_id
</sql> -->
</mapper>