a,
address,
b,
big,
blockquote,
body,
center,
cite,
code,
dd,
del,
div,
dl,
dt,
em,
fieldset,
font,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
i,
iframe,
img,
ins,
label,
legend,
li,
ol,
p,
pre,
small,
span,
strong,
u,
ul,
var {
	margin: 0;
	padding: 0
}

ol,
ul {
	list-style: none
}

:focus {
	outline: 0
}

a img {
	border: 0
}

img {
	vertical-align: middle
}

table {
	empty-cells: show
}

em {
	font-style: normal
}

button::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=file]>input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner,
input[type=submit]::-moz-focus-inner {
	border: 0;
	padding: 0
}

body {
	font: 12px/150% Arial, Verdana, "\5b8b\4f53";
	color: #666;
	background: #fff;
	_background-attachment: fixed
}

h1 {
	font: 20px "microsoft yahei", "\5b8b\4f53"
}

h2,
h3 {
	font-size: 14px
}

h4,
h5,
h6 {
	font-size: 12px
}

a {
	color: #666;
	text-decoration: none
}

a:hover {
	color: #E4393C;
	text-decoration: underline
}

.w {
	width: 1190px;
	margin: 0 auto
}

#content {
	clear: both
}

/* user-passport/1.0.0 login-form-2018-0827.css Date:2018-09-05 18:50:20 */
@charset "UTF-8";

#content .login-wrap {
	margin-top: 0
}

.form .item {
	position: relative;
	margin-bottom: 20px;
	z-index: 1
}

.form .item .placeholder {
	position: absolute;
	left: 50px;
	top: 10px;
	line-height: 18px;
	color: #999;
	font-size: 14px;
	transition: all .2s ease-out;
	opacity: 1
}

.form .item .login-label {
	position: absolute;
	z-index: 3;
	top: 0;
	left: 0;
	width: 38px;
	height: 38px;
	border-right: 1px solid #bdbdbd;
}

.form .item .name-label {
	background-position: 0 0
}

.form .item .pwd-label {
	background-position: -48px 0
}

.form .item-fore5 {
	margin-bottom: 10px
}

.form .item-fore4 {
	*float: left;
	*margin-top: 15px
}

.form .item-fore1,
.form .item-fore2 {
	border: 1px solid #bdbdbd;
	height: 38px;
	width: 304px
}

.form .item-fore1 .clear-btn,
.form .item-fore2 .clear-btn {
	position: absolute;
	z-index: 20;
	right: 6px;
	top: 12px;
	width: 14px;
	height: 14px;
	background: -25px -143px no-repeat;
	cursor: pointer;
	display: none
}

.form .item-fore1 .clear-btn:hover,
.form .item-fore2 .clear-btn:hover {
	background-position: -50px -143px
}

.form .item-fore1 .e-icon,
.form .item-fore2 .e-icon {
	position: absolute;
	width: 12px;
	height: 13px
}

.form .item-fore1 .capslock,
.form .item-fore2 .capslock {
	position: absolute;
	z-index: 4;
	display: none;
	width: 106px;
	top: 28px;
	left: 50px;
	padding-left: 26px;
	height: 26px;
	line-height: 28px;
	overflow: hidden;
}

.form .item-fore1 .capslock b,
.form .item-fore2 .capslock b {
	display: block;
	position: absolute;
	top: 7px;
	left: 10px;
	width: 10px;
	height: 14px;
	overflow: hidden;
}

.form .item-fore1 #sloginpwd,
.form .item-fore2 #sloginpwd {
	position: absolute;
	display: block;
	z-index: 3;
	top: 2px;
	left: 49px;
	width: 254px;
	height: 34px;
	line-height: 34px;
	overflow: hidden;
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateZ(0)
}

.form .item-fore1 .text_pge,
.form .item-fore2 .text_pge {
	width: 254px;
	height: 34px;
	line-height: 34px;
	font-size: 14px;
	font-family: '\5b8b\4f53';
	overflow: hidden;
	border: 1px solid #fff
}

.form .itxt {
	line-height: 18px;
	height: 18px;
	border: 0;
	padding: 10px 0 10px 50px;
	width: 254px;
	float: none;
	overflow: hidden;
	font-size: 14px;
	font-family: '\5b8b\4f53';
	*margin: -1px 0 0
}

.form .itxt02 {
	padding: 10px 5px;
	width: 150px;
	text-align: center
}

.form .verify-code {
	cursor: pointer;
	width: 90px;
	height: 33px;
	vertical-align: middle
}

.form .item-error {
	border: 1px solid #e4393c
}

.form .item-error .name-label {
	background-position: 0 -96px;
	border-color: #e4393c
}

.form .item-error .pwd-label {
	background-position: -48px -96px;
	border-color: #e4393c
}

.form .item-focus {
	border: 1px solid #bbb
}

.form .item-focus .name-label {
	background-position: 0 -48px;
	border-color: #bbb
}

.form .item-focus .pwd-label {
	background-position: -48px -48px;
	border-color: #bbb
}

.form .item-hide .placeholder {
	opacity: 0;
	visibility: hidden
}

.form .item-vcode .placeholder {
	left: 25px
}

.form .item-vcode .itxt02,
.form .item-vcode .verify-code {
	float: left
}

.form .item-vcode a {
	display: inline-block;
	width: 38px;
	float: right
}

.form .item-vcode:after {
	display: block;
	content: "clear";
	height: 0;
	clear: both;
	overflow: hidden;
	visibility: hidden
}

.form #o-authcode.item {
	border: 0
}

.form #o-authcode.item .itxt {
	border: 1px solid #bdbdbd;
	font-size: 14px;
	padding: 7px 5px;
	vertical-align: middle;
	margin-right: 10px
}

.form #o-authcode.item-error {
	border: 0
}

.form #o-authcode.item-error .itxt {
	border-color: #e4393c
}

.form #o-authcode.item-focus {
	border: 0
}

.form #o-authcode.item-focus .itxt {
	border-color: #bbb
}

.form input::-webkit-input-placeholder {
	color: #999;
	font-size: 14px
}

.form input:-moz-placeholder {
	color: #999;
	font-size: 14px
}

.form label {
	float: none
}

.form .jdcheckbox,
.form .jdradio {
	float: none;
	vertical-align: middle;
	_vertical-align: -1px;
	margin: 0 3px 0 0;
	padding: 0
}

.form .item-fore1 {
	z-index: 6
}

.form .item-fore2 {
	height: 38px;
	visibility: hidden
}

.form .item-fore3 {
	z-index: 5;
	margin-bottom: 13px
}

.form .item-fore3.hide {
	margin-bottom: 0
}

.form .margin16 {
	margin-bottom: 16px
}

.form .sugcontent {
	position: absolute;
	top: 38px;
	left: 38px;
	background: #fff;
	border: 1px solid #98cff2;
	border-top-color: #bbb;
	width: 265px;
	z-index: 4
}

.form .sugcontent li {
	height: 28px;
	line-height: 28px;
	padding-left: 10px;
	width: 254px;
	overflow: hidden;
	word-wrap: break-word;
	word-break: break-all
}

.form .sugcontent li.hover {
	background: #d8ecfa
}

.form .sug-iframe {
	position: absolute;
	border: 0;
	z-index: 3;
	left: 39px;
	top: 39px;
	width: 266px;
	height: 100px
}

.form .updata {
	z-index: 10;
	position: absolute;
	top: 20px;
	left: 30px;
	width: 188px;
	padding: 5px;
	line-height: 108px;
	height: 40px;
	overflow: hidden;
}

.form .updata .up-one {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 10px;
	height: 10px
}

.form .updata .up-two {
	position: absolute;
	left: 92px;
	top: 13px;
	width: 72px;
	height: 20px
}

.login-form {
	position: relative;
	z-index: 4;
	background: #fff;
	overflow: visible;
	width: 346px;
}

.login-form .login-tab {
	width: 100%;
	height: 54px;
	font-family: "microsoft yahei";
	border-bottom: 1px solid #f4f4f4;
	position: absolute;
	background: #fff;
	display: block;
	text-align: left;
}

.login-tab b {
	position: relative;
	font-size: 24px;
	top: 18px;
	left: 20px;
}

.login-form .login-tab a {
	width: 99%;
	height: 28px;
	text-align: center;
	border-right: 1px solid #f4f4f4;
	text-decoration: none;
	font-size: 20px;
}

.login-form .login-tab a:focus {
	outline: 0 !important;
	-moz-outline: 0 !important
}

.login-form .login-tab a.checked,
.login-form .login-tab a:hover {
	font-weight: 700;
	color: #e4393c
}

.login-form .login-tab-l,
.login-form .login-tab-r {
	width: 173px
}

.login-form .login-tab-r {
	right: 0
}

.login-form .login-tab-link {
	display: inline-block
}

.login-form .msg-wrap {
	min-height: 23px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: auto !important
}

.login-form .msg-error {
	position: relative;
	background: #ffebeb;
	color: #e4393c;
	border: 1px solid #faccc6;
	padding: 3px 10px 3px 40px;
	line-height: 15px;
	height: auto
}

.login-form .msg-error b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 16px;
	overflow: hidden;
}

.login-form .msg-warn {
	position: relative;
	background: #fef4e5;
	color: #666;
	border: 1px solid #f6c090;
	padding: 3px 10px 3px 40px;
	line-height: 15px;
	height: auto
}

.login-form .msg-warn b {
	position: absolute;
	top: 50%;
	left: 10px;
	display: block;
	margin-top: -8px;
	width: 16px;
	height: 17px;
	overflow: hidden;
}

.login-form .login-box {
	width: 306px;
	padding: 20px;
	visibility: hidden
}

.login-form .login-box .mt {
	display: inline-block;
	display: block;
	width: 306px;
	overflow: visible;
	height: 27px
}

.login-form .login-box .mt:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .login-form .login-box .mt {
	height: 1%
}

*+html .login-form .login-box .mt {
	min-height: 1%
}

.login-form .login-box .mt h1 {
	position: relative;
	height: 27px;
	line-height: 27px;
	top: -5px;
	float: left;
	color: #666;
	font-family: "microsoft yahei";
	font-size: 20px
}

.login-form .login-box .tab-h {
	height: 35px
}

.login-form .login-box .mc {
	overflow: visible
}

.login-form .login-box .safe {
	position: relative;
	color: #666;
	*float: left;
	*width: 305px
}

.login-form .login-box .safe span {
	margin-right: 15px;
	*float: left
}

.login-form .login-box .safe .forget-pw-safe {
	position: absolute;
	*float: right;
	*position: static;
	right: 0;
	top: 0;
	margin: 0
}

.login-form .login-box .reg-free {
	height: 18px;
	*margin-bottom: 5px
}

.login-form .login-box .login-btn {
	border: 1px solid #0033CC;
	margin: 0 auto;
	height: 32px;
	width: 99%;
	position: relative
}

.login-form .login-box .login-btn .btn-img {
	border: 1px solid #005EA7;
	display: block;
	width: 302px;
	background: #0033CC;
	height: 31px;
	line-height: 31px;
	color: #fff;
	font-size: 20px;
	font-family: 'Microsoft YaHei';
	text-align: center;
}

.login-form .login-box .login-btn .btn-img:hover {
	text-decoration: none
}



div.safetips {
	border: 1px solid #E3E3E3;
	background: #fff;
	padding: 5px 10px;
	margin: -10px 0 0 40px;
	box-shadow: 0 0 10px rgba(221, 221, 221, .7)
}

.coagent {
	padding-left: 20px;
	padding-right: 20px;
	line-height: 50px;
	border-top: 1px solid #f4f4f4;
	height: auto;
	background-color: #fcfcfc
}

.coagent h5 {
	font-weight: 400;
	color: #999
}

.coagent ul {
	display: inline-block;
	display: block
}

.coagent ul:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

* html .coagent ul {
	height: 1%
}

*+html .coagent ul {
	min-height: 1%
}

.coagent li {
	float: left
}

.coagent li .line {
	color: #ccc;
	padding: 0 10px
}

.coagent li a.pdl {
	display: inline-block;
	position: relative;
	padding-left: 24px
}

.coagent li a.pdl b {
	width: 19px;
	height: 18px;
	display: block;
	margin: 0 auto;
	position: absolute;
	float: left;
	left: 0;
	top: 16px
}

.coagent li a.pdl b.weixin-icon {
	background-position: -20px 0
}

.coagent li a.pdl b.QQ-icon {
	background-position: 0 0
}

.coagent .more-slide {
	position: relative;
	z-index: 5;
	overflow: visible
}

.coagent .more-slide dt {
	color: #666;
	position: relative;
	z-index: 2;
	_top: 5px
}

.coagent .more-slide dt b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 9px;
	height: 6px;
	margin-left: 10px;
	overflow: hidden;
	vertical-align: middle;
}

.coagent .more-slide dd {
	position: absolute;
	z-index: 1;
	top: -3px;
	left: -15px;
	display: none;
	height: 40px;
	width: 203px;
	padding: 25px 0 10px 15px;
	border: 1px solid #dcdcdc;
	background: #fff;
	overflow: hidden
}

.coagent .more-slide dd a {
	float: left;
	white-space: nowrap;
	margin-right: 15px;
	color: #999
}

.coagent .more-slide dd a:hover {
	margin-right: 15px;
	color: #E4393C;
	text-decoration: underline
}

.coagent .more-hover dt b {
	background-position: -104px -116px
}

.coagent .more-hover dd {
	display: block
}

.coagent .more-slide-new dd {
	width: 153px;
	height: 62px;
	overflow: hidden
}

.coagent .more-slide-new dd a,
.coagent .more-slide-new dd a:hover {
	margin-right: 28px
}

.coagent .more-slide-new .dd-cont {
	width: 175px
}

.coagent li.extra-r {
	float: right
}

.coagent .regist-link {
	color: #3366CC;
	font-size: 14px
}

.coagent .regist-link a {
	color: #3366CC;
}

.coagent .regist-link b {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	width: 16px;
	height: 16px;
	overflow: hidden;
	background: -104px -75px no-repeat;
	vertical-align: middle;
	margin-right: 5px
}

.login-wrap {
	position: relative;
	height: 475px;
	margin: 10px 0 20px;
	z-index: 5
}

.login-wrap .login-banner {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 475px;
	background: #00AAEE;
}

.login-wrap .i-inner {
	position: relative;
	z-index: 3;
	height: 475px
}

.login-wrap .login-form {
	float: right;
	top: 50px;
}
.step {
	width: 350px;
	margin: 0 auto
}
