<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ECS_Goods.mapper.shopCartMapper">

<resultMap type="ECS_Goods.entity.shopCartBaseInfo" id="goodsBaseResult">
<result column="shop_cart_id" property="shopCart_id"  jdbcType="INTEGER"/>
<result column="goods_sku_id" property="goods_sku_id"  jdbcType="INTEGER"/>
<result column="store_id" property="store_id"  jdbcType="INTEGER"/>
<result column="store_name" property="store_name"  jdbcType="VARCHAR"/>
<result column="goods_main_image" property="goods_main_image"  jdbcType="VARCHAR"/>
<result column="goods_name" property="goods_name"  jdbcType="VARCHAR"/>
<result column="goods_old_price" property="goods_old_price"  jdbcType="DOUBLE"/>
<result column="goods_now_price" property="goods_now_price"  jdbcType="DOUBLE"/>
<result column="goods_num" property="goods_num" jdbcType="INTEGER"/>
</resultMap>
<resultMap type="ECS_Goods.entity.goodsPropertyInfo" id="getPropertyInfo">
 <result column="goods_sku_id" property="goods_sku_id" jdbcType="INTEGER"/>
 <result column="goods_property_relate_id" property="goods_property_relate_id" jdbcType="INTEGER"/>
 <result column="property_name_text" property="goods_property_name" jdbcType="VARCHAR"/>
 <result column="property_value" property="goods_property_value" jdbcType="VARCHAR"/> 
</resultMap>
<sql id="getShopCartGoodsBaseInfo">
select shop_cart_id,goods_sku.goods_sku_id,store.store_id,store.store_name,
goods.goods_main_image,goods.goods_name,goods_sku.goods_old_price,
goods_sku.goods_now_price,shop_cart.goods_num
from shop_cart,goods_sku,goods,store
where shop_cart.goods_sku_id=goods_sku.goods_sku_id
and goods_sku.goods_id=goods.goods_id 
and store.store_id=goods.store_id
</sql>
   <select id="getGoodsBaseInfo" resultMap="goodsBaseResult" 
   parameterType="java.lang.Integer"
    resultType="java.util.List">
   <include refid="getShopCartGoodsBaseInfo"></include>
  and  shop_cart.user_id=#{user_id,jdbcType=INTEGER}
   </select>
<sql id="getShopCartGoodsBaseProperty">
select goods_sku.goods_sku_id,goods_property_relate.goods_property_relate_id,
goods_property_name.property_name_text,goods_property_value.property_value
from shop_cart,goods_sku,goods_property_relate,goods_property_name,goods_property_value
where shop_cart.goods_sku_id=goods_sku.goods_sku_id
and goods_property_relate.goods_sku_id=shop_cart.goods_sku_id
and goods_property_name.property_name_id=goods_property_relate.goods_property_name_id
and goods_property_value.property_value_id=goods_property_relate.goods_property_value_id
</sql>
  <select id="getGoodsProperty" resultMap="getPropertyInfo" 
  parameterType="ECS_Goods.entity.goodsPropertyInfo">
  <include refid="getShopCartGoodsBaseProperty"></include>
   and shop_cart.goods_sku_id=#{goods_sku_id,jdbcType=INTEGER}
  </select>
<insert id="addShopCart" parameterType="ECS_Common.entity.shopCart" 
  useGeneratedKeys="true">
  insert into shop_cart(goods_sku_id,goods_num,user_id)
  <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goods_sku_id !=null">
      #{goods_sku_id,jdbcType=INTEGER},
      </if>
      <if test="goods_num !=null">
      #{goods_num,jdbcType=INTEGER},
      </if>
      <if test="user_id != null" >
        #{user_id,jdbcType=INTEGER},
      </if> 
    </trim>
</insert>
<delete id="deleteShopCart" parameterType="INTEGER">
delete from shop_cart
where shop_cart_id =#{id,jdbcType=INTEGER}
</delete>
</mapper>